.Card-Wrapper {
  position: relative;
  margin: 0 2rem;
  padding: 1rem;
  height: 20rem;
  width: 16rem;
  border-style: solid;
  border-radius: 20px;
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgb(252, 252, 252);
}

.Card-Wrapper:hover {
  background-color: rgb(254, 249, 242);
  filter: drop-shadow(7.5px 6px 7.5px #0c0c0c);
}

.Card-Body {
  margin: 0.8rem 0.8rem 0 0.8rem;
  text-align: center;
}

.Card-Body img {
  height: 6rem;
  width: 10rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.Card-Body h4 {
  margin-top: 0.4rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.Card-Body input {
  width: 100%;
}

.Card-Body p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

